#logout {
  float: right;
  padding: 15px;
}

a {
  color: #ccc;
}
section {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 100px;
  font-size: 16px;
}


div#register {
  width: 15%;
  height: 200px;
  float: left;
}

div#login {
  margin-left: 15%;
  height: 200px;
}


.here_table {
  padding-left: 3%;
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 50px;
  float: left;
  background-color: darkslategrey;
  align-items: center;
  align-self: center;
  align-content: center;
}

.here_table  tr th {
  color: darkorange;
  text-align: center;
  font-size: 18px;
}

.here_table tr {
  color: goldenrod;
  margin: 20px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

h2 {
  text-align: center;
}

.here_table:hover {
  background-color: teal;
}
